{% include 'main/nav.html' %}

<div class="card card-outline-secondary">
  <div class="card-header">
    <h3 class="mb-0">welcome, fill the form</h3>
  </div>
  <div class="card-body">
    <form autocomplete="off" class="form" role="form" method="post">
      {% csrf_token %}
      <fieldset>
        <label class="mb-0" for="name2">Name</label>
        <div class="row mb-1">
          <div class="col-lg-12">
            <input class="form-control" id="name2" name="name2" required="" type="text">
          </div>
        </div>
        
        <button class="btn btn-primary btn-lg float-left" type="submit">Send Message</button>
      </fieldset>
    </form>
  </div>
</div><!-- /form contact -->
</div><!--/col-->
</div>
  <script>
    onclick()
  </script>